# Database
DATABASE_URL="mysql://senchat:senchat_dev@localhost:3306/senchat"

# JWT
JWT_SECRET="change-me-in-production-min-32-chars!!"
JWT_REFRESH_SECRET="change-me-too-in-production-min-32!!"

# App
BACKEND_PORT=3000
FRONTEND_URL=http://localhost:5173
